<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="XapkPackagingTool.Properties.AppInfo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="XapkPackagingTool.Properties.Path" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="XapkPackagingTool.Constants.Path" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="XapkPackagingTool.Constants" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<!-- Android SDK version settings -->
		<add key="MinSdkVersion" value="9"/>
		<add key="LatestSdkVersion" value="35"/>
		
	</appSettings>
 <applicationSettings>
  <XapkPackagingTool.Properties.AppInfo>
   <setting name="Ayar" serializeAs="String">
    <value />
   </setting>
  </XapkPackagingTool.Properties.AppInfo>
  <XapkPackagingTool.Properties.Path>
   <setting name="AssetUsedComponentsJsonDataPath" serializeAs="String">
    <value>Asset\\about\\external_components.json</value>
   </setting>
   <setting name="AssetExpansionInstallLocations" serializeAs="String">
    <value>Asset\xapk\install_locations.json</value>
   </setting>
   <setting name="AssetPredefinedPermissions" serializeAs="String">
    <value>Asset\xapk\permissions.json</value>
   </setting>
   <setting name="AssetLocales" serializeAs="String">
    <value>Asset\xapk\locale_codes.json</value>
   </setting>
   <setting name="AssetApplicationBinaryInterfaces" serializeAs="String">
    <value>Asset\xapk\app_binary_interfaces.json</value>
   </setting>
   <setting name="AssetDensityQualifiers" serializeAs="String">
    <value>Asset\xapk\density_qualifiers.json</value>
   </setting>
   <setting name="AssetBlankProjectTemplate" serializeAs="String">
    <value>Asset\\xapk\\blank_project_template.json</value>
   </setting>
   <setting name="AppDataDir" serializeAs="String">
    <value>XapkPackagingTool</value>
   </setting>
   <setting name="RecentsFile" serializeAs="String">
    <value>recent_files.json</value>
   </setting>
  </XapkPackagingTool.Properties.Path>
 </applicationSettings>
</configuration>